.paragraf {
  padding-top: 120px;
  font-size: 24px;
  width: 900px;
}
.xxx {
  margin-left: 200px;
}
body {
  background-image: url("../../../public/img/back.jpg");
}
.categories {
  margin-top: 300px;
  padding: 300px;
}
.Back-1 {
  margin-top: 100px;
  background-image: url("../../../public/img/business.gif");
  width: 300px;
  height: 300px;
}
.Back-2 {
  margin-top: 100px;
  background-image: url("../../../public/img/coding.gif");
  width: 300px;
  height: 300px;
}
.Back-3 {
  background-image: url("../../../public/img/marketing.png");
  width: 300px;
  height: 500px;
  background-position: center;
}
.Metamask {
  margin-left: 600px;
  margin-top: 332px;
  background-image: url("../../../public/img/metamaskk.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 110px;
}
.paragraf1 {
  font-weight: 10px;
  color: black;
  text-align: center;
}
.back {
  margin-top: 167px;
}
.btn {
  margin-left: 10px;
}
